@charset "UTF-8";



  
.mblwg, .mvlwg {
  margin-bottom: 10px; }
.centeredwg, .text-centerwg {
  text-align: center;
}
.text-centerwg {
  text-align: center !important; 
  color:  rgb(0, 128, 202) !important;
  margin-top : 20px !important; 
  font-size: 16px !important;
  font-weight: 400 !important;
  -webkit-animation: fadeInUp891 1s ease-in;
  animation: fadeInUp891 1s ease-in;
}

.span-44
{
  margin-left : 5px !important;
  vertical-align: top !important;
}

.wrapperwg {
  position: relative;
  margin: 0 auto;
  padding: 0 0px;
  max-width: 860px; }
@media only screen and (max-width: 860px) {
    .wrapperwg {
      width: auto;
      min-width: 0; } }
.bodywg {
  font-family: 'Proxima Nova', sans-serif !important;
  font-size: 14px;
  line-height: 1.4em;
  color: #666A73;
  word-wrap: break-word;
  word-break: break-word; 
  padding: 100px 5px 5px 5px !important;
}
.h2wg {
  font-weight: bold; }
.h2wg {
	
  font-size: 9px;
  line-height: 1.3em; }
.strongwg {
  font-weight: bold; }
i {
  font-style: italic; }
.mutedwg {
  color: #A8A8A8; }
.icon-arrow-rightwg {
  font-size: 20px;
  vertical-align: middle;
  margin-right: 10px;
  color: #dadada; }
@supports ((-webkit-filter: blur(3px)) or (filter: blur(3px))) { }
.icon-arrow-rightwg {
  display: inline-block;
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  -webkit-font-feature-settings: normal;
          font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .icon-arrow-rightwg:hover:before {
    text-decoration: none; }

.icon-arrow-rightwg:before {
  content: "\2713"; }
.periodwg {
  position: relative;
  /* padding: 0px 30px 20px 30px; */
  max-width: 860px;
  box-sizing: border-box;
  white-space: nowrap;

}
.periodwg i.icon-arrow-rightwg {
    display: none; }
.periodwg .fractionwg {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    border-right: 1px solid transparent;
    padding: 15px; }
.periodwg .fractionwg .fullwg {
      display: none; }
.periodwg .fractionwg .today-mobilewg {
      display: none; }
.periodwg .fractionwg .todaywg {
      font-weight: bold;
      position: absolute;
      text-transform: uppercase;
      top: -10px;
      left: 0;
      width: 100%; }
.periodwg .fractionwg .daywg {
      display: table-cell;
      vertical-align: middle;
      cursor: pointer;
      width: 75px;
      height: 75px;
      border: 4px solid #00A2FF;
      box-sizing: border-box !important;
      border-radius: 50%; }
@media only screen and (max-width: 900px) {
    .periodwg {
      width: auto;
      padding: 10px 0px 20px 0px; }
      .periodwg .todaywg {
        display: none; }
      .periodwg .fractionwg .today-mobilewg {
        text-transform: uppercase;
        display: inline; }
      .periodwg .fractionwg {
        float: none;
        width: 100%;
        display: block;
        padding: 0;
        border: 1px solid #dadada;
        border-bottom: none; }
        .periodwg .fractionwg:last-child {
          border: 1px solid #dadada; }
        .periodwg .fractionwg .shorthandwg {
          display: none; }
        .periodwg .fractionwg .fullwg {
          display: inline; }
        .periodwg .fractionwg .daywg {
          position: relative;
          display: block;
          height: auto;
          width: auto;
          padding: 15px;
          border: none;
          text-align: left; }
        .periodwg .fractionwg i.icon-arrow-rightwg {
          position: absolute;
          display: inline-block;
          top: 13px;
          right: 15px;
          font-size: 20px;
          border: 1px solid #00A2FF;
          padding: 10px;
          border-radius: 50%;
          color: #00A2FF; } }

		  .fractionboxwg {
    height: 35px !important ;
 }
 
.availablewg
{
  color : #00A2FF;
}

 .periodwg .fractionwg.unavailablewg .daywg {
      border-color: #a8a8a8;
      color: #a8a8a8;
      cursor: default; }
.periodwg .fractionwg.unavailablewg.diagnosticswg .statuswg {
      color: #00A2FF; }
@media only screen and (min-width: 900px) {
      .periodwg .fractionwg.unavailablewg.diagnosticswg .daywg {
        border: 1px dashed #00A2FF;
        padding: 3px;
        cursor: pointer; } }
@media only screen and (max-width: 900px) {
		.periodwg .fractionwg.unavailablewg i.icon-arrow-rightwg, .periodwg .fractionwg.separatorwg.unavailablewg i.icon-arrow-rightwg {
          display: none; }
        .periodwg .fractionwg.unavailablewg.diagnosticswg i.icon-arrow-rightwg, .periodwg .fractionwg.separatorwg.unavailablewg.diagnosticswg i.icon-arrow-rightwg {
          display: inline-block;
          border: none;
          color: #00A2FF; }
        .periodwg .fractionwg.unavailablewg.diagnosticswg .statuswg, .periodwg .fractionwg.separatorwg.unavailablewg.diagnosticswg .statuswg {
          top: 38px;
right: 25px; }}
.spots-groupwg .time-buttonwg.unavailablewg {
      border-color: #DADADA;
      color: #DADADA; }
	  
	 .fractionmiddelwg {
		     padding-top: 25px !Important;
	 }

   #schedule_time
   {
     margin-top : 5px !important;
     -webkit-animation: bounceInUp891 0.9s ease-in-out;
     animation: bounceInUp891 0.9s ease-in-out;
   }

   #schedule_calltime
   {
     margin-top : 5px !important;
     -webkit-animation: bounceInUp891 0.9s ease-in-out;
     animation: bounceInUp891 0.9s ease-in-out;
   }



   .text-callscheduled
   {
      color : rgb(0, 155, 0) !important;
      font-size: 28px !important;
      font-weight: bold !important;
      text-align: center !important;
      margin-top: 20px !important;
      margin-bottom: 50px !important;

      -webkit-animation: bounceInUp891 0.9s ease-in-out;
      animation: bounceInUp891 0.9s ease-in-out;

   }

   .text-scheduledmessage{
     color : black !important;
     font-size : 18px !important;
     text-align: center !important;
     margin-bottom: 30px !important;
     -webkit-animation: fadeInUp891 1s ease-in;
     animation: fadeInUp891 1s ease-in;
   }

   .text-scheduleddate{
    color : rgb(0, 123, 194) !important;
    font-weight: bold !important;

    -webkit-animation: fadeInUp891 2s ease-in;
    animation: fadeInUp891 2s ease-in;

   }

   .img-success891
   {
     text-align: center !important;
     width : 250px !important;
     height: 200px !important;
     margin-bottom : 30px !important;
     -webkit-animation: jackInTheBox891 0.9s ease-in-out;
     animation: jackInTheBox891 0.9s ease-in-out;
   }

.text-outofworkhour
{
  display: inline-block;
  text-align: center !important;
  padding-left : 30px;
  
}

   @-webkit-keyframes bounceInUp891 {
    from,
    60%,
    75%,
    90%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 3000px, 0);
      transform: translate3d(0, 3000px, 0);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: translate3d(0, -20px, 0);
      transform: translate3d(0, -20px, 0);
    }
  
    75% {
      -webkit-transform: translate3d(0, 10px, 0);
      transform: translate3d(0, 10px, 0);
    }
  
    90% {
      -webkit-transform: translate3d(0, -5px, 0);
      transform: translate3d(0, -5px, 0);
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes bounceInUp891 {
    from,
    60%,
    75%,
    90%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 3000px, 0);
      transform: translate3d(0, 3000px, 0);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: translate3d(0, -20px, 0);
      transform: translate3d(0, -20px, 0);
    }
  
    75% {
      -webkit-transform: translate3d(0, 10px, 0);
      transform: translate3d(0, 10px, 0);
    }
  
    90% {
      -webkit-transform: translate3d(0, -5px, 0);
      transform: translate3d(0, -5px, 0);
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  

  /******************* fadeInUp891 *****************/

  @-webkit-keyframes fadeInUp891 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp891 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes flash891 {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

@keyframes flash891 {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}




@-webkit-keyframes jackInTheBox891 {
  from {
    opacity: 0;
    -webkit-transform: scale(0.1) rotate(30deg);
    transform: scale(0.1) rotate(30deg);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
  }

  50% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  70% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes jackInTheBox891 {
  from {
    opacity: 0;
    -webkit-transform: scale(0.1) rotate(30deg);
    transform: scale(0.1) rotate(30deg);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
  }

  50% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  70% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
