@charset "UTF-8";

/* .iconcallwg a b, .iconcallwg a p{
    font-size: 12px!important;
}

.iconcallwg a p{
    margin-top: 5px!important;
    padding: 3px!important;
}
.iconcallwg a b, .iconcallwg a p{
    font-size: 10px!important;
} */

.iconcallwg{
position: fixed;
right: 73px;
bottom: 73px;
text-align: center;
cursor: pointer;
z-index : 99999;
}

/* .iconcallwg a p {
color: $colortext$;
font-size: 10px;
background:$colorwidget$;
margin-top: 10px;
padding: 10px 10px;
border-radius: 5px;
text-transform: uppercase;
} */

.talktoleadsnow-branding
{
position: fixed;
right: 51px;
bottom: 43px;
text-align: center;
cursor: pointer;
background-color: rgb(48, 104, 150) !important; 
border-radius: 4px;
box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
z-index : 99999;
}

.talktoleadsnow-branding a {
    color: rgb(230, 230, 230);
    background: rgb(48, 104, 150) !important; 
    padding-top: 7px;
    padding-bottom: 22px;

    padding-left: 18px;
    border-radius: 4px;
    font-size: 12px !important;
    margin: auto;
    display: inline-block;
    min-width: 100px;
    max-height: 25px !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    -webkit-font-smoothing: antialiased !important;
    position: relative !important;
    left: -5px !important;
    box-sizing : border-box !important;
    text-decoration: none !important;
 }

 .talktoleadesnow-brand-bg
 {
     position: fixed;
     right: 188px;
     bottom: 47px;
     z-index: 99999;
     width: 20px;
     height: 22px;     
 }


 .talktoleadesnow-brand-bg-dialog
 {
     position: absolute;
     right: 142px;
     bottom: 5px;
     z-index: 99999;
     width: 20px;
     height: 22px;     
 }

 .talktoleadsnow-brand-logo
 {
     font-size: 12px !important;
     position: relative;
     background-color : rgb(48, 104, 150) !important; 
     margin-bottom : 5px;
     padding: 5px;
     border-radius: 4px;
     width: 160px;
     bottom : 0px;
     right : 0px;
     text-align: right;
     color: rgb(230, 230, 230) !important;
 }
 .talktoleadsnow-brand-logo a{
    color: rgb(230, 230, 230) !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    -webkit-font-smoothing: antialiased !important;
    box-sizing : border-box !important;
    text-decoration: none !important;
    color : white;
 }




#talktousnow
{
    z-index : 99999;

}
#talktousnow:before {
    content: "$text-talktous$";
}

.iconcallwg a b {
color: $colortext$;
background: $colorwidget$;
padding: 5px 10px;
border-radius: 4px;
font-size: 12px !important;
margin: auto;
display: inline-block;
min-width: 100px;
max-height: 25px !important;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
-webkit-font-smoothing: antialiased !important;
position: relative !important;
left: -5px !important;
box-sizing : border-box !important;
}

/* .iconcallwg a b, .iconcallwg a p{
    font-size: 12px!important;
}

.iconcallwg a p{
    margin-top: 5px!important;
    padding: 3px!important;
} */

.call-me{
    display: none;
}

.call-back{
background:white;
min-height: 250px;
width: 100%;
position: relative;
}


#callme {
    position: sticky;
    right: 0px;
   top: 30px;
    width: 200px;
    height: 200px;
    cursor: pointer;
    opacity: 1;
    z-index: 99990;
    left: 0;
    margin:auto;
}
#callme #callmeMain {
    -moz-border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    border-radius: 50% !important;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: $colorwidget$;
    width: 200px;
    height: 200px;
    margin-left: 0px;
    -webkit-animation: zcwmini2 1.5s 0s ease-out infinite;
    -moz-animation: zcwmini2 1.5s 0s ease-out infinite;
    animation: zcwmini2 1.5s 0s ease-out infinite;
}
#callme #callmeMain:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url($server$/api/style/images/phone.png);
    background-repeat: no-repeat;
    background-position: center center;
    margin-left: 0px;
    -webkit-animation: zcwphone2 1.5s linear infinite;
    -moz-animation: zcwphone2 1.5s linear infinite;
    animation: zcwphone2 1.5s linear infinite;
}



.footerwg{margin:center;display:block;}
.buttonwg,input{font:inherit;margin:0;cursor: pointer;}
.buttonwg,input{overflow:visible}button{text-transform:none}
.buttonwg{-webkit-appearance:button}
.buttonwg::-moz-focus-inner{border-style:none;padding:0}
.buttonwg:-moz-focusring{outline:1px dotted ButtonText}
::-webkit-input-placeholder{color:inherit;opacity:0.54}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */

.h2wg{font-family:'Proxima Nova', sans-serif !important;font-size:20px !important;font-weight:400;margin:20px 0;text-align:center; color:#ff6600!important; background: inhert !important;-webkit-animation: tada891 1s ease-in; animation: tada891 1s ease-in; }
.w3-buttonwg{margin-top: 20px; margin-bottom:5px; width: 100% ; border: 1px solid #ff6600!important;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.w3-buttonwg-close{border:none;display:inline-block;padding:0px 10px ; vertical-align:middle;overflow:hidden;text-decoration:none;color:gray; font-size:20px  ;background-color:transparent;text-align:center;cursor:pointer;white-space:nowrap}

.w3-buttonwg{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.w3-buttonwg:disabled{cursor:not-allowed;opacity:0.3}:disabled *{pointer-events:none}
.w3-inputwg{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}

.w3-modalwg{z-index:99999;display:none;padding-top:200px;position:fixed !important; margin : 0 auto; left:0;top:0;width:100%; ;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(21, 16, 16, 0.70)}
.w3-modal-contentwg{margin:auto;background-color:#fff;position:relative; top:-80px; padding:0;outline:0;max-width:900px !important}
.w3-containerwg:after,.w3-containerwg:before{content:"";display:table;clear:both}
@media (max-width:600px){.w3-modal-contentwg{margin:2px 10px;width:auto!important}.w3-modalwg{padding-top:100px}}
@media (max-width:768px){.w3-modal-contentwg{width:500px}.w3-modalwg{padding-top:100px}}

@media (min-width:993px){.w3-modal-contentwg{width:800px}}.w3-display-toprightwg{position:absolute;right:0;top:0}.w3-round-xxlargewg{border-radius:32px}
@media (min-width:993px){.w3-modal-contentwg{width:800px}}.w3-display-topwg{position:absolute;right:0;top:0;z-index:9999;}.w3-round-xxlargewg{border-radius:32px}

.w3-containerwg{padding:0.01em 16px;}
.w3-card-4wg{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.w3-animate-bottomwg{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.w3-buttonwg:hover{ color:#fff!important;background-color:#ff6600!important;font-weight: bold !important}
/* Colors */
.w3-bluewg,.w3-hover-bluewg:hover{border: 1px solid #ff6600!important; color:#fff!important;background-color:#ee6600!important;font-size: 16px !important}
.w3-hover-greenwg:hover{color:#fff!important;background-color:#4CAF50!important}
.w3-hover-redwg:hover{color:#fff!important;background-color:#f44336!important}

.w3-tealwg{color:#fff!important;background-color:#9e9e9e!important}

.helpError{color:red;font-size:11;}

.phonebox{
    padding-bottom: 30px;
    }
    .ukdiv{
        float: left;
        max-width: 12%;
        padding-top: 10px;
    }
    .ukbox{
    width:30px;
    }
    .inputphonebox{
        float: left;
            max-width: 90%;
        min-width: 88%;
        padding-left: 6px;
    }
    .inputphone{
        width:100%;
            padding: 8px;
        display: block;
        border: none;
        border-bottom: 1px solid #ccc;
    }
    
    .w3-buttonwgsc
    {
        width : 100% !important;
        height: 30px !important;
        margin-top : 0px !important;
        margin-bottom : 5px !important;
    }


    @-webkit-keyframes tada891 {
        from {
          -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
        }
      
        10%,
        20% {
          -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
          transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
        }
      
        30%,
        50%,
        70%,
        90% {
          -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
          transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        }
      
        40%,
        60%,
        80% {
          -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
          transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        }
      
        to {
          -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
        }
      }
      
      @keyframes tada891 {
        from {
          -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
        }
      
        10%,
        20% {
          -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
          transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
        }
      
        30%,
        50%,
        70%,
        90% {
          -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
          transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        }
      
        40%,
        60%,
        80% {
          -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
          transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        }
      
        to {
          -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
        }
      }